.footer {
  height: 20vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 6rem;
}
.rightFooter {
  display: flex;
  flex-direction: column;
}
.download {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
}
.android {
  /* border: 1px solid white; */
}
.apple {
  border: 1px solid white;
}

.logo{
    width: 6rem;
}

.download{
    border: 1px solid white;
}
.android{
    border: 1px solid white;
}
.apple{
    border: 1px solid white;
}
